{% extends "base.html" %} {% block title %} {% trans %}Register{% endtrans %} {%
endblock %} {%block container%}
<div class="login-page-container">
  <div class="login-container">
    <form method="POST">
      <h3 align="center">{% trans %}Register{% endtrans %}</h3>
      <div class="form-group">
        <label for="email">{% trans %}Email Address{% endtrans %}</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="{% trans %}Enter email{% endtrans %}"
        />
      </div>
      <div class="form-group">
        <label for="password">{% trans %}Username{% endtrans %}</label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          placeholder="{% trans %}Enter username{% endtrans %}"
        />
      </div>
      <div class="form-group">
        <label for="password1">{% trans %}Password{% endtrans %}</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="{% trans %}Enter password{% endtrans %}"
        />
      </div>
      <div class="form-group">
        <label for="password2">{% trans %}Password{% endtrans %}</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="{% trans %}Enter password again{% endtrans %}"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">
        {% trans %}Create a new account{% endtrans %}
      </button>
    </form>
  </div>
</div>
{%endblock%}
